.top{
    border-radius: 10% 10% 0 0;
    height: 430px;
    background-color: $TopColorButtonText;
    margin: 10px 20px 0px 20px;
    p{
        font-size: 3ch;
        padding: 10%;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.6;
    }
    img{
        height: auto;
        width: 140px;
        border-radius: 90%;
        border: 6px white solid;
        position: absolute;
        top:380px;
        left:35%;
    }
}