@import "./variables";
@import "./top";
@import "./button";

@mixin SizeColor ($size, $color){
    color: $color;
    font-size: $size;
}

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    background-color: $BackgroundColor;
   
}


